<%= form_for [refinery, :wines_admin, @wine] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @wine,
              :include_object_name => true %>
  
  <div class='field'>
    <%= f.label :name_en -%>
    <%= f.text_field :name_en  -%>

  </div>
  
  <div class='field'>
    <%= f.label :name_zh -%>
    <%= f.text_field :name_zh  -%>

  </div>

  <div class='field'>
    <%= f.label :vintage -%>
    <%= select_year @wine.vintage, :field_name => "wine[vintage]", 
                                  :start_year => Time.now.year, 
                                  :end_year => 1950, 
                                  :prompt => "选择年代" -%>

  </div>
    
  <div class='field'>
    <%= f.label :wine_style_id -%>
    <%= collection_select(:wine, :wine_style_id, WineStyle.all, :id, :name) -%>

  </div>

  <div class='field'>
    <%= f.label :region -%>
    <%= f.text_field :region  -%>

  </div>

  
  <div class='field'>
    <%= f.label :capacity -%>
    <%= f.text_field :capacity  -%>

  </div>
  
  <div class='field'>
    <%= f.label :alcoholicity -%>
    <%= f.text_field :alcoholicity  -%>

  </div>
  
  <div class='field'>
    <%= f.label :variety -%>
    <%= f.text_field :variety  -%>

  </div>
  
  <div class='field'>
    <%= f.label :rating -%>
    <%=raw select_tag "wine[rating]", rating_select_option  -%>

  </div>
  
  <div class='field'>
    <%= f.label :rating_rp -%>
    <%= f.text_field :rating_rp  -%>

  </div>
  
  <div class='field'>
    <%= f.label :rating_ws -%>
    <%= f.text_field :rating_ws  -%>

  </div>
  
  <div class='field'>
    <%= f.label :rating_jr -%>
    <%= f.text_field :rating_jr  -%>

  </div>
  
  <div class='field'>
    <%= f.label :price -%>
    <%= f.text_field :price  -%>

  </div>
  
  <div class='field'>
    <%= f.label :info -%>
    <%= f.text_field :info  -%>

  </div>
  
  <div class='field'>
    <%= f.label :cellar_num -%>
    <%= f.text_field :cellar_num  -%>

  </div>
  
  <div class='field'>
    <%= f.label :cellar_location -%>
    <%= f.text_field :cellar_location  -%>

  </div>
  
  <div class='field'>
    <%= f.label :slug -%>
    <%= f.text_field :slug  -%>

  </div>
  
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.wines.admin.wines.wine'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @wine.vintage) %>
<% end -%>
