  <div class='field'>
   <%= f.label :Status -%>
   ON:<%= f.radio_button :status, 'ON'  -%>
   OFF:<%= f.radio_button :status, 'OFF'  -%>
 </div>


 <div class='field'>
   <%= f.label :bar_category -%>
   <%= 
   f.select :bar_category, 
   {'By Bottle' => 'by_btl',
    'By Glass' => 'by_glass',
    'By Monthly Promotion' => 'by_monthly promotion'}
    %>
 </div>

 <div class='field'>
  <%= f.label :name_en -%>
  <%= f.text_field :name_en  -%>
</div>

<div class='field'>
  <%= f.label :name_zh -%>
  <%= f.text_field :name_zh  -%>

</div>

<div class='field'>
  <%= f.label :vintage -%>
  <%= f.text_field :vintage  -%>
  <!-- <%#= select_year Time.local(vintage.to_s), {:field_name => "#{model_name}[vintage]",
                                :start_year => Time.now.year, 
                                :end_year => 1950, 
                                :prompt => "选择年代"}, {:name => "#{model_name}[vintage]"}-%> -->

</div>

 <div class='field'>
    <%= f.label :region -%>
    <%= f.text_field :region, :class => 'larger widest'  -%>
    请按照这个格式输入:France>Bourgogne>Côte Chalonnaise>Mercurey Rouge
  </div>

<!--  <div class='field'>
   <%= f.label :region_zh -%>
   <%= f.text_field :region_zh  -%>

 </div>
 -->
 <div class='field'>
   <%= f.label :chateau -%>
   <%= f.text_field :chateau  -%>
 </div>



 <div class='field'>
    <%= f.label :capacity -%>
    <%= f.text_field :capacity  -%>mL

  </div>
  
  <div class='field'>
    <%= f.label :alcoholicity -%>
    <%= f.text_field :alcoholicity  -%>%Vol
  </div>
  
  <div class='field'>
    <%= f.label :variety -%>
    <%= f.text_area :variety, :size => '20x5'  -%> 多个请按回车输入， 如： Pinot Noir/100% <回车>Pinot Noir/100% 

  </div>

  <div class='field'  style="float:left;width:100px;">
    <%= f.label :rating -%>
    <%= select_tag "#{model_name}[rating]", rating_select_option(rating).html_safe  -%>

  </div>

  <div class="field"  style="float:left;width:100px;">
    <%= f.label :rating_rp -%>
    <%= f.text_field :rating_rp, :size => "3"  -%>
  </div>

  <div class="field" style="float:left;width:100px;">
    <%= f.label :rating_ws -%>
    <%= f.text_field :rating_ws, :size => "3"  -%>
  </div>

  <div class="field" style="float:left;width:100px;">
    <%= f.label :rating_jr -%>
    <%= f.text_field :rating_jr, :size => "3"  -%>
  </div>

  <div class='field' style="clear:both;">
    <%= f.label :price -%>
    <%= f.text_field :price  -%>元

  </div>
<!-- 
  <div class='field'>
    <%= f.label :cellar_num -%>
    <%= f.text_field :cellar_num  -%>

  </div>
  
  <div class='field'>
    <%= f.label :cellar_location -%>
    <%= f.text_field :cellar_location  -%>

  </div> -->