<%= form_for [refinery,:api_waters_admin,@api_water], :method => :put do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @api_water,
              :include_object_name => true %>
  <table>
    <tr>
      <th>英文名</th>
      <th>中文名</th>
      <th>价格</th>
      <th>SKU</th>
      <th>位置－左</th>
      <th>位置－顶</th>
      <th>颜色</th>
      <th></th>
    </tr>

   <% @drinks.each do |drink| %>
    <tr>
      <td><%= drink.name_en %></td>
      <td><%= drink.name_zh %></td>
      <td><%= text_field_tag 'price[]', drink.price %></td>
      <td><%= text_field_tag 'sku[]',drink.sku %></td>
      <td><%= text_field_tag 'rect_left[]',drink.rect_left %></td>
      <td><%= text_field_tag 'rect_top[]',drink.rect_top %></td>
      <td><%= text_field_tag 'rect_color[]',drink.rect_color %></td>
      <td>
        <%= link_to refinery.new_drinks_admin_drink_path do %>
          <%= image_tag "add.png" %>
        <% end %>
      </td>
    </tr>
  <% end %>
    
  </table>

   <div class='field'>
          <%= render '/refinery/admin/image_picker',
                     :f => f,
                     :field => :image_id,
                     :image => @api_water.image,
                     :toggle_image_display => false %>

   </div>

   <div class="update">
    <%= submit_tag "加入" %>
   </div>
    <div class="delete">
        <%= link_to refinery.api_waters_admin_api_water_path(@api_water),:method => :delete do %>
          <%= image_tag "cancle.png" %>
        <% end %>
   </div>
<% end -%>
