<% @api_waters.each do |api_water| %>
  <% @api_water_items = api_water.api_water_items %>
  <div class="item">
    <div class="content">
      <div class="img"><%= image_fu(api_water.image,"90x90") %></div>
      <div class="tab">
        <table>
            <tr>
              <th>英文名</th>
              <th>中文名</th>
              <th>价格</th>
              <th class="sku">SKU</th>
              <th>位置－左</th>
              <th>位置－顶</th>
              <th>颜色</th>
            </tr>
            <% @api_water_items.each do |api_water_item| %>
            <tr>
              <td><%= api_water_item.name_en %></td>
              <td><%= api_water_item.name_zh %></td>
              <td><%= api_water_item.price %></td>
              <td><%= api_water_item.sku %></td>
              <td><%= api_water_item.rect_left %></td>
              <td><%= api_water_item.rect_top %></td>
              <td><%= api_water_item.rect_color %></td>
            </tr>
          <% end %>
             
          </table>
      </div>
    </div>
  
    <div class="action">
      <div class="edi">
        <%= link_to refinery.edit_api_waters_admin_api_water_path(api_water) do %>
          <%= image_tag "edit.png",:title => "编辑" %>
        <% end %>
      </div>
      <div class="delete">
        <%= link_to refinery.api_waters_admin_api_water_path(api_water,:redirect_to_food => true),:method => :delete do %>
          <%= image_tag "delete.png" %>
        <% end %>
      </div>
    </div>

  </div>
<% end %>