<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(api_food) -%>">
  <span class='title'>
   

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.api_foods_api_food_path(api_food),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_api_foods_admin_api_food_path(api_food),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.api_foods_admin_api_food_path(api_food),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete'),
        :method => :delete %>
  </span>
</li>
