<% @api_foods.each do |api_food| %>
  <% @api_food_items = api_food.api_food_items %>
  <div class="item">
      <div class="content">
        <div class="img"><%= image_fu(api_food.image,"90x90") %></div>
        <div class="tab">
          <table>
              <tr>
                <th>英文名</th>
                <th>中文名</th>
                <th>价格</th>
                <th class="sku">SKU</th>
                <th>位置－左</th>
                <th>位置－顶</th>
                <th>颜色</th>
              </tr>
             <% @api_food_items.each do |api_food_item| %>
              <tr>
                <td><%= api_food_item.name_en %></td>
                <td><%= api_food_item.name_zh %></td>
                <td><%= api_food_item.price %></td>
                <td><%= api_food_item.sku %></td>
                <td><%= api_food_item.rect_left %></td>
                <td><%= api_food_item.rect_top %></td>
                <td><%= api_food_item.rect_color %></td>
              </tr>
             <% end %>
            </table>
        </div>
      </div>
      <div class="action">
          <div class="edi">
            <%= link_to refinery.edit_api_foods_admin_api_food_path(api_food) do %>
              <%= image_tag "edit.png",:title => "编辑" %>
            <% end %>
          </div>
          <div class="delete">
              <%= link_to refinery.api_foods_admin_api_food_path(api_food, :redirect_to_food => true), :method => :delete do %>
                <%= image_tag "delete.png" %>
              <% end %>
         </div>
      </div>

  </div>

<% end %>