<% content_for :body_content_title do %>
  <%= @drink.name_en %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Name En</h1>
    <p>
      <%=raw @drink.name_en %>
    </p>
  </section>
  <section>
    <h1>Name Zh</h1>
    <p>
      <%=raw @drink.name_zh %>
    </p>
  </section>
  <section>
    <h1>Price</h1>
    <p>
      <%=raw @drink.price %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="drinks">
      <% @drinks.each do |drink| %>
        <li>
          <%= link_to drink.name_en, refinery.drinks_drink_path(drink) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
