<%= form_for [refinery, :drinks_admin, @drink] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @drink,
              :include_object_name => true %>

  
  <div class='field'>
    <%= f.label :name_en -%>
    <%= f.text_field :name_en  -%>

  </div>
  
  <div class='field'>
    <%= f.label :name_zh -%>
    <%= f.text_field :name_zh  -%>

  </div>
  
  <div class='field'>
    <%= f.label :price -%>
    <%= f.text_field :price  -%>

  </div>

  <div class='field'>
    <%= f.label :sku -%>
    <%= f.text_field :sku -%>
  </div>
  
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.drinks.admin.drinks.drink'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @drink.name_en) %>
<% end -%>
