<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(food) -%>">

  <tr>
    <td><%= check_box_tag 'id[]',food.id %></td>
    <td><%= food.name_en %></td>
    <td><%= food.name_zh %></td>
    <td>¥ <%= food.price %></td>
    <td><%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_foods_admin_food_path(food),
         :title => t('.edit') %></td>
  </tr>

</li>

